<div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li><a href="__MODULE__/index/index.html"><i class="icon-bar-chart"></i><span class="hidden-tablet"> 系统设置</span></a></li>
            <li>
                <a class="dropmenu" href="#"><i class="icon-user"></i><span class="hidden-tablet"> 用 户</span></a>
                <ul>
                    <li><a class="submenu" href="__MODULE__/user/index.html">用户管理</a></li>
                    <li><a class="submenu" href="__MODULE__/user/feedback.html">意见反馈</a></li>
                </ul>
            </li>
            <li>
                <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> 题 库</span></a>
                <ul>
                    <li><a class="submenu" href="__MODULE__/tiku/add.html">添加题目</a></li>
                    <li><a class="submenu" href="__MODULE__/tiku/lists.html">查看题目</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>