* { 
font:16px "微软雅黑",Tahoma,Verdana,Arial,Helvetica,sans-serif;
} 

img { 
border:0px;
 } 

div { cursor:default; } 

hr { border:1px rgba(255,255,255,0.3) solid; } 

body { 
border:0px;
margin:0px;
/*background:url('/myblog/m/img/bg.jpg') center no-repeat fixed;*/

 } 

a { text-decoration:none; } 

.bar { 
line-height:2em;
text-align:center;
margin-bottom:15px;
font:16px "微软雅黑",Tahoma,Verdana,Arial,Helvetica,sans-serif;
background:rgba(255,255,255,0.3);
padding:0.5em;
 }  

.bg_img { 
position:fixed;
/*width:100%;
height:100%;*/
top:0px;
left:0px;
z-index:-1;
 } 

.wait { 
position:fixed;
background:rgba(0,0,0,0.6);
display:none;
text-align:center;
line-height:3em;
min-width:50%;
color:#fff;
font-size:20px;
padding:4px;
 } 

.leave { 
margin:0px;
padding:0px;
 } 

li { 
display:inline;
padding:0px 5%;
text-align:center;
cursor:pointer;
border:0px;
border-bottom:2px rgba(180,180,180,0.2) solid;
opacity:0.9;
 } 

li:hover { opacity: 0.6; } 

ul { 
font-size:16px;
margin:0px;
padding:0px;
width:100%;
text-align:center;
 } 

.timed { 
font-size:24px;
font-weight:bold;
 } 

.timem { 
font-size:18px;
font-weight:bold;
 } 

.time {
font-size:12px;
margin:2px;
color:#333;
 } 

.title { 
border:0px;
font-size:18px;
margin:8px;
clear:both;
color:#fbffff;
display:block;
font-weight:bold;
word-wrap: break-word;
word-break: break-all;
 } 

.des { 
clear:both;
margin:5px;
color:#f5f5f5;
text-indent:2em;
font:12px "微软雅黑",Tahoma,Verdana,Arial,Helvetica,sans-serif;
 } 

a .des { cursor:pointer; } 

.feeling , .message { font-size:16px; } 

.article { font-size:12px; } 

.clear { 
padding:0px;
margin:0px;
width:0px;
height:0px;
clear:both;
 } 

.right { float:right; } 

.left { float:left; } 

.head { 
text-align:center;
 } 

.headcup { 
font-size:12px;
margin:5px;
color:#fff;
padding-right:20px;
 }

.point { 
display:inline;
position:absolute;
left:0px;
margin:0px;
 } 

.view { 
color:#333;
font-size:12px;
margin-right:5px;
 } 

.content_ext { 
max-width: 900px;
margin:10px auto;
position:relative;
 } 

.content { 
margin:20px 19px;
border:0px;
border-left:2px rgba(20,100,200,0.3) solid;
padding:0px 25px;
 } 

.item { 
clear:both;
background:rgba(0,175,215,0.85);
margin:20px 0px;
padding:3px;
display:block;
word-wrap: break-word;
word-break: break-all;
 } 

/*.item:hover { position:relative; } */

.more ,.button { 
background:rgba(200,200,200,0.4);
padding:8px 30%;
text-align:center;
font-size:16px;
cursor:pointer;
border:1px #aaa solid;
 }
 
input { 
font:18px "微软雅黑",Tahoma,Verdana,Arial,Helvetica,sans-serif;
padding:4px;
border:1px #aaa solid;
background:rgba(255,255,255,0.5);
border:1px #eee solid;
 } 

.msgboard { 
display:none;
text-align:right;
padding:20px;
 } 

.msgcontent { 
width:90%;
margin:6px 0px;
word-wrap: break-word;
word-break: break-all;
 } 

.nickname { 
width:100px;
margin:6px 10px;
 } 
button { border:1px #aaa solid; } 

fieldset { 
background:rgba(255,255,255,0.3);
text-align:right;
 } 

.lablee { 
background:rgba(0,175,215,0.7);
color:#fff;
padding:4px;
 } 

.none { display:none; }

.inf { 
padding:3px 8px;
background:rgba(255,255,255,0.4);
margin:0px 8px;
word-wrap: break-word;
word-break: break-all;
 } 

.ext { font-size:12px; } 

.text { 
margin:14px 8px;
background:rgba(255,255,255,0.8);
padding:12px 8px;
word-wrap: break-word;
word-break: break-all;
 } 
