<div class="m_main_wrap">
    <div class="m_main">
        <div class="m_block1">
            <div class="m_block1_hd">
                <div class="block_tit">
                    <i class="stick"></i>
                    <div class="caption">答题记录</div>
                </div>
                <div class="block_linethrough"></div>
            </div>
            <div class="m_block2_bd">
                <!-- 个人信息 start -->
                <div class="m_form m_form_profile form-horizontal">
                    <div class="box-content">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>问题ID</th>
                                <th>是否已判定</th>
                                <th>是否正确</th>
                                <th>答题时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="lists" id="lists">
                                <tr>
                                    <td>{$lists.id}</td>
                                    <td>{$lists.pid}</td>
                                    <td class="center">{$lists.is_judge}</td>
                                    <td class="center">
                                        <span class="label label-<?php if($lists['is_right']){echo 'success';}else{echo 'important';}?>"><?php if($lists['is_right']){echo '正确';}else{echo '错误';}?></span>
                                    </td>
                                    <td class="center">{$lists.ctime}</td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        {:W('LinkPager/LinkPager',array($pagecount,$pagenow))}
                    </div>
                </div>
                <!-- 个人信息 end -->
            </div>
        </div>
    </div>
</div>