<html>
<head>
    <meta content-type="text/javascript" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/public/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/public/css/style-forms.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/public/css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/common.css" />
    <script type="text/javascript" src="__PUBLIC__/public/js/jquery-1.9.1.min.js"></script>
    <title>{$title}</title>
</head>
<body class="hasLogo">
<include file="public:navbar"/>
    <div class="container center layout_n">
        <div class="m_center">
            <include file="public:sidebar"/>
            {__CONTENT__}
        </div>
    </div>
<include file="public:floatbar"/>
<include file="public:footer"/>
</body>
<load href="__PUBLIC__/home/css/center.css"/>
<load href="__PUBLIC__/home/js/center.js"/>
<script type="text/javascript" src="__PUBLIC__/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/public/js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/public/js/jquery.noty.js"></script>
<script type="text/javascript">
    function LoginModal(){
        $("#login-modal").modal('show');
    }
    function RegisterModal(){
        $("#register-modal").modal('show');
    }
    function FeedbackModal(){
        $("#feedback-modal").modal('show');
    }
</script>
</html>