.m_side_avatar .figure img {
  border-radius: 50%;
  width: 95px;
  height: 95px;
}
.m_side_avatar {
  padding-top: 15px;
}
.m_side_avatar .figure {
  border: 5px solid #e1e1e1;
  border-radius: 50%;
  width: 95px;
  height: 95px;
  margin: auto;
}
.m_side_avatar .nickname {
  padding-top: 10px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  text-align: center;
  font-weight: 700;
}
.m_side_menu {
  text-align: center;
  padding-top: 25px;
}
ul, ol {
  list-style: none;
  margin: auto;
}
.m_side_menu .menu_item {
  border-bottom: 1px dotted #e1e1e1;
}
.m_side_menu .menu_item_link {
  background-color: #fafafa;
  position: relative;
  vertical-align: middle;
}
.m_side_menu .menu_ico_01 {
  background-position: 0 0;
}
.m_side_menu .menu_ico {
  background: url(../../../public/home/img/user/side_menu.png) no-repeat;
  position: absolute;
  left: 24px;
  top: 17px;
  width: 16px;
  height: 16px;
}
.m_side_menu .menu_item_link a {
  display: block;
  padding-left: 50px;
  height: 48px;
  line-height: 48px;
  color: #3d9fe1;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}
a:hover,a:focus{
	text-decoration: none !important;
}
.m_side_menu .sub_menu_item.hover, .m_side_menu .sub_menu_item:hover, .m_side_menu .sub_menu_item.active {
  background-color: #d8ecf9;
}
.m_side_menu .menu_item .caret {
  background: url(../../../public/home/img/user/caret.png) no-repeat;
  height: 12px;
  position: absolute;
  right: 19px;
  top: 20px;
  width: 8px;
  border-top: 0px;
}
.m_side_menu .sub_menu {
  border-top: 1px dotted #e1e1e1;
}
.m_side_menu .sub_menu_item.active {
  border-left: 5px solid #f90;
  background-color: #3d9fe1;
}
.m_side_menu .sub_menu_item a {
  display: block;
  height: 48px;
  line-height: 48px;
  color: #525252;
  border-left: 5px solid transparent;
}
.m_main_wrap {
  float: left;
  width: 940px;
  border-left: 1px solid #e1e1e1;
  padding: 25px 30px 60px 29px;
}
.m_block1_hd {
  line-height: 24px;
}
.m_block1_hd .block_tit {
  float: left;
  height: 24px;
  padding-right: 12px;
}
.m_block1_hd .block_linethrough {
  background-color: #e1e1e1;
  overflow: hidden;
  height: 1px;
  font-size: 0;
  line-height: 0;
  position: relative;
  top: 12px;
}
.m_block1_hd .block_tit .stick {
  float: left;
  background-color: #3d9fe1;
  display: block;
  width: 4px;
  height: 18px;
  margin-right: 7px;
  margin-top: 3px;
}
.m_block1_hd .block_tit .caption {
  float: left;
  font-size: 16px;
  color: #3d9fe1;
  font-weight: 700;
}
.layout_n {
  width: 1180px;
}
.m_block2_bd {
  padding-top: 5px;
  color: #666;
}
.m_form .form_line {
  margin-top: 20px;
}
.m_block1_hd:before, .m_block1_hd:after, .m_block2_hd:before, .m_block2_hd:after, .m_card_list:before, .m_card_list:after, .m_form .form_line:before, .m_form .form_line:after {
  display: table;
  content: "";
  height: 0;
  clear: both;
  visibility: hidden;
}
.m_form .input_wrap, .m_form .input_label, .m_form .input_control, .m_form .input_txt {
  float: left;
}
.m_form .input_label {
  width: 100px;
  height: 42px;
  padding-right: 10px;
  line-height: 42px;
  text-align: right;
  color: #999;
}
.m_form_profile .avatar {
  width: 135px;
  height: 135px;
  border: 1px solid #e1e1e1;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.m_form_profile .avatar img {
  width: 135px;
  height: 135px;
}
img {
  display: inline;
  vertical-align: middle;
    border: 0;
}
.m_form_profile .avatar .btn_upload {
  z-index: 4;
  cursor: pointer;
  opacity: 0;
}
.m_form_profile .avatar .text, .m_form_profile .avatar .mask, .m_form_profile .avatar .btn_upload {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 28px;
}
.m_form_profile .avatar .text {
  z-index: 3;
  line-height: 28px;
  color: #fff;
  text-align: center;
}
.m_form_profile .avatar .mask {
  z-index: 2;
  background-color: #000;
  opacity: .5;
}
.m_form_profile .m_message {
  margin-left: 10px;
}
.m_form .m_message {
  float: left;
  padding-top: 11px;
}
.m_message {
  line-height: 20px;
  display: inline-block;
}
.m_center .placeholder_wrap {
  position: relative;
}
.m_form .input_txt {
  width: 198px;
  height: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
}
.m_form .placeholder {
  line-height: 42px;
}
.m_center .placeholder {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding-left: 11px;
  color: #ccc;
  cursor: text;
}
.m_message_warning {
  color: #e77171;
}
.m_form_profile .gender label {
  float: left;
  line-height: 42px;
  margin-right: 25px;
  cursor: pointer;
}
.m_form_profile .gender input {
  margin-right: 5px;
}
input[type="radio"], input[type="checkbox"], input[type="submit"], input[type="reset"] {
  vertical-align: middle;
  cursor: pointer;
}
.m_center .cmd_wrap {
  float: left;
  position: relative;
}
.m_center .cmd_wrap.active .cmd_con {
  visibility: visible;
}
.m_center .cmd_wrap.active .cmd_btn .arrow {
  border-color: transparent transparent #999 transparent;
  border-width: 0 5px 5px 5px;
  border-style: none dashed solid dashed;
}
.m_form_profile .birth_date .cmd_btn {
  width: 70px;
  text-align: center;
}
.m_center .cmd_btn {
  line-height: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #fff;
  color: #ccc;
  padding: 10px 30px 10px 10px;
  border: 1px solid #ddd;
}
.m_center .cmd_btn .arrow {
  border-color: #999 transparent transparent transparent;
  border-width: 5px 5px 0 5px;
  border-style: solid dashed none dashed;
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
  top: 19px;
  right: 12px;
}
.m_center .cmd_con {
  visibility: hidden;
  left: 0;
  right: 0;
  position: absolute;
  top: 40px;
}
.m_form_profile .birth_date .list {
  height: 240px;
  overflow-y: scroll;
  text-align: center;
}
.m_center .cmd_wrap .list {
  border: 1px solid #e1e1e1;
}
.m_center .cmd_wrap .list li {
  background-color: #fff;
  line-height: 40px;
  padding: 0 10px;
  color: #666;
  cursor: pointer;
}
.m_center .cmd_wrap .list li:hover, .m_center .cmd_wrap .list li.hover {
  background-color: #eee;
  color: #3d9fe1;
}
ul, ol {
  list-style: none;
}
.m_form_profile .birth_lorem {
  float: left;
  line-height: 42px;
  width: 42px;
  text-align: center;
}
.m_center .cmd_wrap.active {
  z-index: 10;
}
.m_center .cmd_wrap.active .cmd_btn .arrow {
  border-color: transparent transparent #999 transparent;
  border-width: 0 5px 5px 5px;
  border-style: none dashed solid dashed;
}
.m_form .form_controls .uc_btn {
  float: left;
  padding: 0 36px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
.uc_btn_orange {
  background-color: #f90;
  color: #fff;
}
.uc_btn {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
}
:focus {
  outline: 0;
}
.m_block1_bd {
  margin-top: 15px;
}
.m_message_box {
  background-color: #fafafa;
  padding: 35px 45px;
  margin-bottom: 55px;
}
.f_999 {
  color: #999;
}
.m_form .required {
  vertical-align: middle;
  color: #f60;
  font-style: normal;
}
.m_block1_hd:before, .m_block1_hd:after, .m_block2_hd:before, .m_block2_hd:after, .m_card_list:before, .m_card_list:after, .m_form .form_line:before, .m_form .form_line:after {
  display: table;
  content: "";
  height: 0;
  clear: both;
  visibility: hidden;
}
.m_account_pwd .input_label {
  width: 135px;
}
.m_form .has_symbol .ui_ico + .input_txt {
  padding-left: 40px;
  width: 218px;
}
.m_account_pwd .pwd_strength {
  clear: both;
  position: relative;
  top: 4px;
  background-color: #ccc;
  margin-left: 305px;
  height: 14px;
  line-height: 14px;
  color: #999;
  font-size: 12px;
  width: 110px;
}
.m_account_pwd .pwd_strength .pwd_label {
  position: absolute;
  top: 0;
  left: -60px;
  display: block;
  width: 60px;
}
.m_account_pwd .pwd_strength .pwd_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 14px;
  background-color: #f90;
  transition: width ease 0.5s;
}
.m_account_pwd .input_control {
  margin-right: 10px;
}
.m_form .has_symbol .ui_ico {
  position: absolute;
  left: 10px;
  top: 10px;
}
.ui_ico {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.m_form .ui_ico_lock {
  background: url(../../../public/home/img/user/010.png) no-repeat;
}
.ui_ico_005 {
  background: url(../../../public/home/img/user/007.png) no-repeat;
}
.m_message .ui_ico {
  margin-right: 5px;
  vertical-align: -5px;
}
.table th, .table td{
    height: 20px;
}