<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">首页</a>
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">题库</a></li>
    </ul>

    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon edit"></i><span class="break"></span>增加题目</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form class="form-horizontal" action="add.html" method="post">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="title">题目标题 </label>
                            <div class="controls">
                                <input type="text" class="span6 title" id="title"  name="title" data-provide="title">
                                <p class="help-block">请输入题目标题！</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="category">所属分类</label>
                            <div class="controls">
                                <select id="category" name="category">
                                    <foreach name="Qcate" item="cate" key="key">
                                        <option value="{$key}">{$cate}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="type">难易程度</label>
                            <div class="controls">
                                <select id="type" name="difficulty">
                                        <option value="1">1星</option>
                                        <option value="2">2星</option>
                                        <option value="3">3星</option>
                                        <option value="4">4星</option>
                                        <option value="5">5星</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="type">是否显示</label>
                            <div class="controls">
                                <select id="type" name="is_show">
                                    <option value="1">显示</option>
                                    <option value="0">隐藏</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="type">题目类型</label>
                            <div class="controls">
                                <select id="type" name="type">
                                    <foreach name="Qtype" item="type" key="key">
                                        <option value="{$key}">{$type}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="options">题目选项 </label>
                            <div class="controls">
                                <input type="text" class="span2 options" id="options" name="options[0]" data-provide="options">
                                <a id="addRowRaiseScale" class="btn" href="javascript:void(0)"><i class="halflings-icon plus"></i>添加</a>
                            </div>
                        </div>

                        <div class="control-group hidden-phone">
                            <label class="control-label" for="description">题目描述</label>
                            <div class="controls">
                                <textarea class="kindEditor" name="description" id="description" rows="3" style="height: 400px;"></textarea>
                            </div>
                        </div>

                        <div class="control-group hidden-phone">
                            <label class="control-label" for="answer">题目答案题目答案(答案填选项索引，多选加,)</label>
                            <div class="controls">
                                <textarea class="kindEditor" name="answer" id="answer" rows="3" style="height: 400px;"></textarea>
                            </div>
                        </div>

                        <div class="control-group hidden-phone">
                            <label class="control-label" for="answer">答案描述</label>
                            <div class="controls">
                                <textarea class="kindEditor" name="answer_des" id="answer_des" rows="3" style="height: 400px;"></textarea>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">提 交</button>
                            <button type="reset" class="btn">取消</button>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div><!--/span-->

    </div><!--/row-->

</div>
        <load href="__PUBLIC__/admin/js/tiku.js"/>