<div id="content" class="span10">


    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Dashboard</a></li>
    </ul>

    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon edit"></i><span class="break"></span>增加题目</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form class="form-horizontal" action="edit.html" method="post">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="title">题目标题 </label>
                            <div class="controls">
                                <input name="id" type="hidden" value="{$info.id}">
                                <input type="text" class="span6 title" id="title"  name="title" data-provide="title" value="{$info.title}">
                                <p class="help-block">请输入题目标题！</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="category">所属分类</label>
                            <div class="controls">
                                <select id="category" name="category">
                                    <foreach name="Qcate" item="cate" key="key">
                                        <option value="{$key}" <?php if($key==$info['category']){echo 'selected="selected"';}?>>{$cate}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="type">难易程度</label>
                            <div class="controls">
                                <select id="type" name="difficulty">
                                    <?php for($i=1;$i<=5;$i++){?>
                                    <option value="<?php echo $i.'"'; if($i==$info['type']){ echo 'selected="selected"';}?>><?php echo $i;?>星</option>
                                    <?php }?>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="type">是否显示</label>
                            <div class="controls">
                                <select id="type" name="is_show">
                                    <option value="1" <?php if(1==$info['is_show']){echo 'selected="selected"';}?>>显示</option>
                                    <option value="0" <?php if(0==$info['is_show']){echo 'selected="selected"';}?>>隐藏</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="type">题目类型</label>
                            <div class="controls">
                                <select id="type" name="type">
                                    <foreach name="Qtype" item="type" key="key">
                                        <option value="{$key}" <?php if($key==$info['type']){echo 'selected="selected"';}?>>{$type}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="options">题目选项 </label>
                            <div class="controls">
                                <?php foreach($info['options'] as $key =>$value){ if($key>0){echo '<br><br>';}?>
                                    <input type="text" class="span2 options" id="options" name="options[<?php echo $key;?>]" data-provide="options" value="<?php echo $value;?>">
                                <?php }?>
                                <a id="addRowRaiseScale" class="btn" href="javascript:void(0)"><i class="halflings-icon plus"></i>添加</a>
                            </div>
                        </div>

                        <div class="control-group hidden-phone">
                            <label class="control-label" for="description">题目描述</label>
                            <div class="controls">
                                <textarea class="kindEditor" name="description" id="description" rows="3" style="height: 400px;" value="{$info.description}">{$info.description}</textarea>
                            </div>
                        </div>
                        <div class="control-group hidden-phone">
                            <label class="control-label" for="answer">题目答案(答案填选项索引，多选加,)</label>
                            <div class="controls">
                                <textarea class="kindEditor" name="answer" id="answer" rows="3" style="height: 400px;">{$info.answer}</textarea>
                            </div>
                        </div>
                        <div class="control-group hidden-phone">
                            <label class="control-label" for="answer">答案描述</label>
                            <div class="controls">
                                <textarea class="kindEditor" name="answer_des" id="answer_des" rows="3" style="height: 400px;">{$info.answer_des}</textarea>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">提 交</button>
                            <button type="reset" class="btn">取消</button>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div><!--/span-->

    </div><!--/row-->

</div>
        <load href="__PUBLIC__/admin/js/tiku.js"/>